---
import { Image, Picture } from "astro:assets";
import MainLayout from "src/layouts/MainLayout.astro";
import post05Img from '../../assets/images/post-05.png'

---
<MainLayout title="Imagenes">
<h1 class="text-5xl text-white">Imagenes</h1>
<img 
    loading="eager"
    src="/public/assets/images/post-05.png" 
    width="250" 
    height="250"
>
<Image
    src={post05Img} 
    width="250" 
    height="250"
    alt='imagen'
/>
<Image
    src={post05Img}
    style={{
        width:'250px',
        height:'250px'
    }} 
    width="500" 
    height="500"
    alt='imagen'
/>
<h1>Quality low</h1>
<Image
    src={post05Img} 
    quality='low'
    width="250" 
    height="250"
    alt='imagen'
/>
<h1>Quality higt</h1>
<Image
    src={post05Img} 
    quality='higt'
    width="250" 
    height="250"
    alt='imagen'
/>
<h1>Quality formato</h1>
<Image
    src={post05Img} 
    format="jpg"
    width="250" 
    height="250"
    alt='imagen'
/>
<h1>Picture</h1>
<!-- formats={['webp','avif','jpg']} 
widths={[240, 540, 720, post05Img.width]}
sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${post05Img.width}px`} -->
<!-- width="250"  -->
<Picture
    src={post05Img}
    height="250"
    alt='imagen'
    width={post05Img.width / 2}
    densities={[1.5, 2]}
/>

<div style={{height:'3000px'}}></div>

<img 
    loading="lazy"
    src="/public/assets/images/post-05.png" 
    width="250" 
    height="250"
>
</MainLayout>

<style>
    h1{
        @apply text-white mt-10
    }
</style>